*
{
    margin: 0;
    padding: 0;
}

body
{
    --twitter-color:#50b7f5;
    --twitter-backgroud:#e6ecf0;
    display: flex;
    height: 100vh;
    max-width: 82em;
    margin: auto;
    padding: 0 1em;
}
.sidebarOption
{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.fa-twitter
{
    color:var(--twitter-color);
    font-size: 30px;
    font-weight: 800;
}
.sidebarOption .material-icons , .fa-twitter
{
    padding: 20px;
}

.sidebarOption h2
{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption.active
{
    color: var(--twitter-color)
}

.sidebarOption:hover
{
    background-color: var(--twitter-backgroud);
    border-radius: 30px;
    color: var(--twitter-color);
    transition:color 100mn ease-out;
}

#btn-tweet
{
    width: 100%;
    height: 50px;
    background-color: var(--twitter-color);
    color:var(--twitter-backgroud);
    border: none;
    border-radius: 30px;
    font-weight: 900;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.sidebar
{
    border-right: 1px solid var(--twitter-backgroud);
    flex:0.2;
    min-width: 250px;
    padding: 0 20px;
    margin: 20px 0 0 0 ;
}

/* FEED STARTS */
.feed
{
    flex: 0.5;
    border-right:1px solid var(--twitter-backgroud);
    overflow-y: scroll;
    min-width: fit-content;
}

/* hide scroll bar */
.feed::-webkit-scrollbar 
{
    display: none;
}

.header-feed
{
    font-size: 20px;
    font-weight: 800;
    padding: 15px 20px;
    border: 1px solid var(--twitter-backgroud);
}

.tweetBox
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 8px solid var(--twitter-backgroud);
}

.tweetBox-input
{
    display: flex;
    padding: 20px;
}

.tweetBox-input img
{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid var(--twitter-backgroud);
} 

.tweetBox-input input
{
    flex: 1;
    margin-left: 20px;
    border:none;
    outline: none;
    font-size: 20px;
}

.tweetBox button
{
    background-color: var(--twitter-color);
    color:#FFFFFF;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    font-weight: 800;
    border: none;
    border-radius: 30px;
}


/* post starts */

.post
{
    display: flex;
    align-items: flex-start;
    padding:10px;
    border: 1px solid var(--twitter-backgroud);
}

.post-avatar img
{
    height:40px;
    width:40px;
    border-radius: 50%;
    padding: 20px;
}

.post-header-username
{
    font-size: 16px;
    font-weight: 800;
}

.post-header-icon .material-icons
{
    font-size: 14px !important;
    color: var(--twitter-color);
    margin:0;
}

.post-header-icon
{
    font-weight: 600;
    font-size: 16px;
    color: gray;
}
.post-description
{
    font-size: 15px;
    margin-bottom: 10px;
}
.post-image
{
    background-color:transparent;
    width: 450px;
    height: 320px;
    object-fit: fill;
    border-radius: 20px;
}

.post-options
{
    margin: 5px auto 0 auto;
    display: flex;
    justify-content:space-around;
    color: gray;
}


/* widget starts */
.widget
{
    background-color: #50b7f5;
    flex: 0.3;
}

.widget-search-bar
{
    background-color: var(--twitter-backgroud);
    border-radius: 20px;
}
/* widget ends */